# Requires Python 3.13+

# Data arrays and backbone of every other library
numpy

# Image processing
# opencv-python     # Image processing functions
# colorspacious     # 16-bit color space transformations

# Optimization
cython             # C extensions for Python 
setuptools         # Build Cython
# numba              # JIT compiler and prange
# cupy-cuda12x       # NumPy GPU-acceleration

# Raster data
rasterio           # Raster dataset I/O
gdal               # Virtual Raster Title (VRT)

# Graphical User Interface 
tqdm               # Progress bar
# numba-Progress     # Nogil tqdm wrapper